.backdrop{
    position: fixed;
    background-color: rgb(0 0 0 / 40%);
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
}

.modal{
    padding: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    position: absolute;
    margin: auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 6rem;
    z-index: 2;
}