@import '../../../index.scss';

.columns {
    display: flex;
    gap: 4rem;
}

.tasksHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include media(380px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;
    }
}