@import '../../../../index.scss';

.project {
    width: 30rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    & a {
        &:hover {
            opacity: 1;
        }
    }

    &:hover {
        transform: scale(1.02);
    }

    & .button {
        padding: 0 1rem;
        margin-left: auto;
    }
}

.tasksNumber{
    font-size: 1.2rem;
    opacity: 0.5;
}