.projectsContainer {
    & .addProjectButton {
        display: block;
        margin-left: auto;
        margin-bottom: 2rem;
    }
}

.projects {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.noProjects{
    font-size: initial;
}
