@import '../../../../index.scss';

.select {
    width: 15rem;
    border: 1px solid  $color-gray--light;
    position: relative;
    height: 4rem;
    padding: 0 1rem;
}

.defaultOption {
    cursor: pointer;
}

.options {
    width: calc(100% + 0.1rem);
    position: absolute;
    left: -0.05rem;
    top: 3.9rem;
    background-color: #fff;
    z-index: 2;
    border-left: 1px solid  $color-gray--light;
    border-right: 1px solid  $color-gray--light;
}

.option {
    cursor: pointer;
    border-bottom: 1px solid  $color-gray--light;
    height: 4rem;
    padding: 0 1rem;
}