@import '../../../../index.scss';

.subtask {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .button {
        width: fit-content;
    }

    & .input {
        & p {
            width: 100%;
        }

        &-disabled{
          align-items: flex-start;

          & .checkIcon {
              margin-top: 0.5rem;
          }
        }
    }

    & input {
        width: 100%;
        border: none;
        &:focus{
            background: inherit;
        }
    }
}

.isDisabled{
    border: none;
    background-color: inherit;
}

.checkIcon{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 1px solid $color-gray;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-checked {
        background-color: $color-gray;
        & svg {
            stroke: white;
        }
    }
}