.header {
    width: 100%;
    height: 6rem;
    padding: 0 3rem;
    background-color: white;
    display: flex;
    align-items: center;

    & h1{
        font-size: 3rem;
    }

    & a {
        font-size: 2rem;
        font-weight: 300;
    }
}