.addProject {
    & h2{
        margin-bottom: 2rem;
    }

    & form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    & .buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
    }
}