@import '../../../../index.scss';

.taskInfo {
    width: 80rem;
    min-width: 90%;

    &-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &-buttons {
        display: flex;
        gap: 3rem;

    }
}

.taskInfoHeading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.additionalInfo {
    color: $color-gray--medium;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.taskIndex {
    font-weight: 300;
    font-size: 2.8rem;
}