@import '../../../../index.scss';

.button {
    border: 0;
    background-color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 2.5rem;
    border-radius: 1rem;
    transition: all 0.1s;
    height: 4rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;

    &:hover{
      transform: scale(1.01);
      opacity: 0.8;
    }
  
    &:active{
      color: inherit;
    }

    &-primary {
        font-weight: 600;
        color: white;
        background-color: $color-gray;
      }
    &-outline {
        border: 1px solid $color-gray--light;
      }
    &-clear {
        padding: 0;
        height: fit-content;
      }
}
